table {
border-collapse: collapse;
width: 100%;
}
.th{
padding: 10px;
}
th, td{
border: 1px solid;
}
.tableGoole{
  margin-left: 20px;
}
div a:first-child {
  margin-left: 0;
}
div a {
  margin-left: 10px;
}
form #input{
  width: 60px;
  margin-right: 18px;
  margin: 0 auto;
}
.cen{
  text-align: center;
}
.ras{
  margin: 0 auto;
  margin-top: 5px;
}
.d{
  width: 80px;
}
#ob{
  width: 10px;
}
#ob1{
  width: 84px;
}
.ssilka {
	border: 0;
    padding: 0;
    display: inline;
    background: none;
    text-decoration: underline;
    color: blue;
}
.ssilka:hover {
    cursor: pointer;
}
.fiol {
	color: #800080;
}
#videleno {
	color: #800080;
	font-weight: bold;
}
.yellow {
	background-color: yellow;
}
a {
	margin-left: 10px;
}
form select{
  width: 149px;
}
form input{
  width: 145px;
}
#google {
	width: 222px;
}
.blue{
    background: #4682B4;
}
.red{
    background: red;
}
.white{
    background: white;
}
.yellow{
    background: yellow;

}
.assitent{
    width: 110px;
    float: left;
}
.percent{
    width: 25px;
    float: left;
    margin-left: 10px;
}
.small{
	font-size: 10px;
}
